.metadata/*
.recommenders/*
*/.settings/*
*/target/*
*/.project
*/.classpath
.project
.settings/org.eclipse.core.resources.prefs
.vscode/launch.json
.vscode/settings.json
.settings/org.eclipse.m2e.core.prefs
JavaOrbit-server/.factorypath
